h1 {
  padding-top: 10px;
  padding-bottom: 25px;
  font-weight: bold;
}

h4 {
  padding-bottom: 12px;

}
li {
  padding-top: 8px;
  font-size: 15px;
}

.radio {
  font-size: 15px;
}

.btn {
  margin-top: 8px;
  margin-left: 23px;
  font-size: 15px;
  background-color: rgb(197, 204, 211);
}

p {
padding-left: 23px;
padding-top: 23px;
font-size: 25px;
font-weight: bold;
}

#result1, #result2, #result3, #result4  {
  display: none;
}